<!--
Descricao: Exercícios da Aula 02 - Introdução básica ao HTML e CSS
nome_arquivo: index.html
nome_exercicio: Atividade 02 - Introdução básica ao HTML e CSS
nome_aluno: Rafael de Oliveira Anjos
email_aluno: Rafael.anjos2@aluno.cps.gov.br
turma: WEBI-ISW028-A
-->

form {
    max-width: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
}

.form-group {
    margin-bottom: 15px;
    display: block;
    flex-direction: column;
}